{% extends "base.html" %}
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %} 
    <h3 style = 'font-family:標楷體;'> 本站文章列表 </h3>
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class = "card">
            <div class = "card-header">
                <p><a href = '/post/{{post.slug}}'> {{post.title}} </a></p>
            </div>
            <div class = "card-body">
                <p> {{post.body | truncatechars:20 }} </p>
            </div>
            <div class = "card-footer">
                <p> {{post.pub_date | date:"Y/m/d h:m:s"}} </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}